/* Folha de Estilo em cascata */
/* Seletores = Tags do HTML
classes = Onde escrevo o class no html a classe é chamada com o . no início
identificadores= onde escrevo id no html */

/* p{
    seletor : propriedade
} */

body{
    background-color: black;
    color: #fff
}

.container{
    display: flex;
    background-color: #fff;
}
.teste{
    padding: 12px;
}
img{
    width: 120px;
    height: 120px;
}
.btn{
    color:#fff;
    background-color: green;
}
.btn:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}